#**CS353 - ML Lab Endsem**
Name: **Mohammed Rushad** <br>
Roll Number: **181CO232** <br>
Q11) Predict Placement opportunities using Logistic regression.

In [139]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split

In [140]:
from google.colab import files
uploaded = files.upload()

Saving Placement_Data_Full_Class.csv to Placement_Data_Full_Class (1).csv

In [141]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "Placement_Data_Full_Class.csv" with length 19712 bytes

In [142]:
import io

In [143]:
df = pd.read_csv(io.StringIO(uploaded['Placement_Data_Full_Class.csv'].decode('utf-8')))

In [144]:
#Viewing Placement_Data_Full_Class Dataset
df.head()

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      Placed  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      Placed  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      Placed  250000.0
3      4      M  56.00  Central  ...          Mkt&HR  59.43  Not Placed       NaN
4      5      M  85.80  Central  ...         Mkt&Fin  55.50      Placed  425000.0

[5 rows x 15 columns]

In [145]:
df.shape

(215, 15)

In [146]:
#Removing Unnecessary Rows and Columns
df = df.drop('sl_no', axis = 1)
df = df.drop('ssc_b', axis = 1)
df = df.drop('hsc_b', axis = 1)
df = df.drop('salary', axis = 1)
df = df.dropna()

In [147]:
#New Dataset
df.head()

  gender  ssc_p  hsc_p     hsc_s  ...  etest_p specialisation  mba_p      status
0      M  67.00  91.00  Commerce  ...     55.0         Mkt&HR  58.80      Placed
1      M  79.33  78.33   Science  ...     86.5        Mkt&Fin  66.28      Placed
2      M  65.00  68.00      Arts  ...     75.0        Mkt&Fin  57.80      Placed
3      M  56.00  52.00   Science  ...     66.0         Mkt&HR  59.43  Not Placed
4      M  85.80  73.60  Commerce  ...     96.8        Mkt&Fin  55.50      Placed

[5 rows x 11 columns]

In [148]:
df.shape

(215, 11)

Changing **gender** column to categorical type

In [149]:
df["gender"] = df["gender"].astype('category')
df["gender"].dtypes

CategoricalDtype(categories=['F', 'M'], ordered=False)

Changing above categorical gender to encoded numerical values

In [150]:
df["gender"] = df["gender"].cat.codes
df["gender"].dtypes

dtype('int8')

Doing above two steps for all categorical like column

In [151]:
df["degree_t"] = df["degree_t"].astype('category')
df["degree_t"] = df["degree_t"].cat.codes

df["workex"] = df["workex"].astype('category')
df["workex"] = df["workex"].cat.codes

df["specialisation"] = df["specialisation"].astype('category')
df["specialisation"] = df["specialisation"].cat.codes

df["status"] = df["status"].astype('category')
df["status"] = df["status"].cat.codes

df["hsc_s"] = df["hsc_s"].astype('category')
df["hsc_s"] = df["hsc_s"].cat.codes

In [152]:
#New updated numerical categorical types
df.dtypes

gender               int8
ssc_p             float64
hsc_p             float64
hsc_s                int8
degree_p          float64
degree_t             int8
workex               int8
etest_p           float64
specialisation       int8
mba_p             float64
status               int8
dtype: object

In [153]:
#New Dataset
df.head()

   gender  ssc_p  hsc_p  hsc_s  ...  etest_p  specialisation  mba_p  status
0       1  67.00  91.00      1  ...     55.0               1  58.80       1
1       1  79.33  78.33      2  ...     86.5               0  66.28       1
2       1  65.00  68.00      0  ...     75.0               0  57.80       1
3       1  56.00  52.00      2  ...     66.0               1  59.43       0
4       1  85.80  73.60      1  ...     96.8               0  55.50       1

[5 rows x 11 columns]

In [154]:
feature_cols = ['gender', 'ssc_p', 'hsc_p', 'hsc_s','degree_p','degree_t','workex','etest_p','specialisation','mba_p']
X = df[feature_cols]
y = df.status

In [155]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [162]:
logreg = LogisticRegression(random_state=0, solver='lbfgs', max_iter=1000)
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)

In [166]:
# Accuracy Obtained
clf.score(X_test, Y_test)

0.9230769230769231

In [167]:
# Confusion Matrix
print(confusion_matrix(Y_test, Y_pred))

[[15  8]
 [ 2 40]]