In [51]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [52]:
from google.colab import files

In [53]:
uploaded = files.upload()

Saving credit.csv to credit.csv

In [54]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "credit.csv" with length 2897296 bytes

In [55]:
import io

In [56]:
df = pd.read_csv(io.StringIO(uploaded['credit.csv'].decode('utf-8')))

In [57]:
#Removing the first header row since there are 2 in the given dataset
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df.head()

0 ID LIMIT_BAL SEX  ... PAY_AMT5 PAY_AMT6 default payment next month
1  1     20000   2  ...        0        0                          1
2  2    120000   2  ...        0     2000                          1
3  3     90000   2  ...     1000     5000                          0
4  4     50000   2  ...     1069     1000                          0
5  5     50000   1  ...      689      679                          0

[5 rows x 25 columns]

In [58]:
feature_cols = ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE','AGE','PAY_0','PAY_2','PAY_3', 'PAY_4', 'PAY_5', 'PAY_6','BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6']
X = df[feature_cols]
y_col = ['default payment next month']
y = df[y_col]

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [60]:
for i in range(2,10):
  knn = KNeighborsClassifier(n_neighbors=i)
  knn = knn.fit(X_train,y_train.values.ravel())
  y_test_pred = knn.predict(X_test)
  y_train_pred = knn.predict(X_train)
  print("Accuracy for ", i, "neighbors: ",knn.score(X_test,y_test))

print("\nWe get highest accuracy for k = 8 neighbors at 77.37%")

Accuracy for  2 neighbors:  0.7614444444444445
Accuracy for  3 neighbors:  0.7365555555555555
Accuracy for  4 neighbors:  0.769
Accuracy for  5 neighbors:  0.7557777777777778
Accuracy for  6 neighbors:  0.7718888888888888
Accuracy for  7 neighbors:  0.7628888888888888
Accuracy for  8 neighbors:  0.7737777777777778
Accuracy for  9 neighbors:  0.7647777777777778

We get highest accuracy for k = 8 neighbors at 77.37%